$base-color: rgba(169, 140, 226, 255);
@mixin mobile {
  @media only screen and (max-device-width: 912px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
    only screen and (max-device-width: 867px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
    only screen and (max-aspect-ratio: 4/5) {
    @content;
  }
}
@mixin desktop {
  @media (min-device-width: 913px), (min-aspect-ratio: 4/5) {
    @content;
  }
}

@mixin heading_one {
  font-size: 1.7rem;
  @include mobile {
    font-size: $mobileBigSize;
  }
}

@mixin LibreCaslon {
  font-family: LibreCaslon;
  letter-spacing: -0.025em;
}

@mixin workSans {
  font-family: WorkSans;
  letter-spacing: -0.02em;
  font-weight: 400;
  line-height: 1.2;
}

@mixin smallHeadline {
  font-family: WorkSans;
  letter-spacing: -0.02em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.9rem !important;
}

@mixin smalltext {
  font-family: Geologica;
  font-size: 0.8rem;
  font-weight: 200;
  @include mobile {
    font-size: 3.2rem;
  }
}

@mixin contenttitle {
  font-family: Geologica;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.9;
  @include mobile {
    font-size: 8rem;
  }
}

@mixin smallserif {
  font-family: "Times New Roman", serif;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 0.01rem;
  @include mobile {
    font-size: 5.2rem;
  }
}

@mixin noscroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

$lightgray: #d9d9d9;
$darkergray: #c8cccc;
$darkgrey: #2b2b2e;

$generalMargin: 1rem;

$mobileBigSize: 5rem;
$mobileSmallSize: 3rem;

$text: 1.1rem;
$textsmall: 0.7rem;

$textmobile: 4rem;
$smallmobile: 3rem;
